<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name="com.Listners.PayPal.API.PayPal.ExtentListeners"></listener>
</listeners>
  <test thread-count="5" name="Create Order Test">
    <classes>
      <class name="pom.PayPal.API.com.CreateOrderTest"/>
    </classes>
  </test> <!-- Test -->
  
  
  
   <test name="Get Order Test">
    <classes>
      <class name="pom.PayPal.API.com.getOrderTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
